body {
    margin: 10px;
    padding: 0;
    border: 0;
}

ul#rekeningoverzicht {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

.categorie {
    margin: 0;
    padding: 0;
    border: solid 3px black;
    border-bottom: 0;
    width: 100%;
    overflow: hidden;
}
.categorie:first-child {
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.categorie:last-child {
    border-bottom: solid 3px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.categorie .textcontainer {
    overflow: hidden;
}

.categorie .textcontainer .expandknop {
    float: left;
    margin: 0;
    padding: 8px;
    border: 0;
}

.categorie .textcontainer .expandknop a  {
    margin: 0;
    padding: 0;
    border: 0;
}

.categorie .textcontainer .expandknop a img {
    margin: 0;
    padding: 0;
    border: 0;
    width: 18px;
}

.categorie .textcontainer .tekst {
    float: left;
    margin: 0;
    padding-top: 5px;
    border: 0;
    font-size: 16pt;
}

td {
    padding-left: 20px;
    padding-right: 20px;
}

.namen {
    display: none;
    background-color: darkcyan;
    padding-left: 30px;
    overflow: hidden;
}